* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'helvetica neue';
}
html,
body {
     height: 100%;
     width: 100%;
}


.parent{
     background-color: crimson;
     padding: 10px;
     display: flex;

}

.inner{
     background-color: lightseagreen;
     display: flex;
     gap: 10px;

     animation-name: move;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-delay: 1s; 
     animation-duration: 5s;
}

h4{
     background: royalblue;
     padding: 15px;
     font-size: 20px;

}

@keyframes move {
     from{
          transform: translateX(0);
     }
     to{
          transform: translateX(-100%);
     }
}